<html>
<head>
	<meta charset="UTF-8">
	<title>Reg. Não Conformidade</title>
	
	<!-- IMPORTS DOS CSS, JAVASCRIPT -->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/font-awesome/css/font-awesome.min.css" >
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap.min.css" >
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap-theme.min.css">
	
	<!-- JQUERY -->
	<script src="/3th-party/jquery/jquery-2.2.4.min.js" ></script>

	<!-- Bootstrap JavaScript -->
	<script src="/3th-party/bootstrap/js/bootstrap.min.js" ></script>
	
</head>

<body>
	
	<h2>Entrar</h2>
	<form action="/login" method="post">
		
		<div>
			<label for="perfil">Tipo de Ocorrência</label> 
			<select id="perfil" name="perfil">
				<option value="AUDITOR">Auditor - Gerar Não conformidades</option>
				<option value="FISCAL">Fiscal - Visualizar Não Conformidades</option>
			</select>
		</div>
		
		<input type="submit" value ="Entrar" />

	</form>
	
	<br/>
	<br/>

	<p>Top 10 Ocorrências de Não-Conformidade</p>
	<table border="1">
		<thead>
			<tr>
				<th>Data</th>
				<th>Ocorrência</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i< 10;i++){%>
				<tr>
					<td>
						<%=lista[i].data%>
					</td>
					<td>
						<%=lista[i].descricao%>
					</td>
				</tr>
			<%}%>
		</tbody>
	</table>
</body>

</html>