<html>
<head>
	<meta charset="UTF-8">
	<title>Reg. Não Conformidade</title>
	
	<!-- IMPORTS DOS CSS, JAVASCRIPT -->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/font-awesome/css/font-awesome.min.css" >
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap.min.css" >
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap-theme.min.css">
	
	<!-- JQUERY -->
	<script src="/3th-party/jquery/jquery-2.2.4.min.js" ></script>

	<!-- Bootstrap JavaScript -->
	<script src="/3th-party/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body>

	<div class="erros">
		<%if(errosValidacao){%>		
			<ul>
				<% for(var i=0; i < errosValidacao.length; i++){ %>
					<li><%= errosValidacao[i].param %> - <%= errosValidacao[i].msg %></li>
				<%}%>
			</ul>
		<%}%>
	</div>
	
	<h2>Registrar Não-Conformidade</h2>
	
	<div>
		<a href="/" class="btn btn-default">Sair</a>
	</div>
	
	<br><br>
	
	<form action="/naoconformidade" method="post">
		<div>
			<label for="data">Data</label> 
			<input type="date" id="data" name="data" value="<%= naoconformidade.data%>">
		</div>

		<div>
			<label for="descricao">Tipo de Ocorrência</label> 
			<select id="descricao" name="descricao">
				<option>Falta de uso do capacete de seguranca</option>
				<option>Falta de uso de colete</option>
				<option>Sem luvas de seguranca</option>
				<option>Sem botas</option>
			</select>
		</div>
		
		<input type="submit" value ="Gravar" />
	</form>
	
<script type="text/javascript">
	(function() {
		document.getElementById('data').value = new Date();
	})();
</script>
</body>

</html>