<html>
<head>
	<meta charset="UTF-8">
	<title>Reg. Não Conformidade</title>
	
	<!-- IMPORTS DOS CSS, JAVASCRIPT -->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/font-awesome/css/font-awesome.min.css" >
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap.min.css" >
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="/3th-party/bootstrap/css/bootstrap-theme.min.css">
	
	<!-- JQUERY -->
	<script src="/3th-party/jquery/jquery-2.2.4.min.js" ></script>

	<!-- Bootstrap JavaScript -->
	<script src="/3th-party/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class="container-fluid">
		
		
		<div class="erros">
			<%if(errosValidacao){%>		
				<ul>
					<% for(var i=0; i < errosValidacao.length; i++){ %>
						<li><%= errosValidacao[i].param %> - <%= errosValidacao[i].msg %></li>
					<%}%>
				</ul>
			<%}%>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-4">
				<h1>Registrar Não conformidade</h1>
			</div>
			<div class="col-md-2">
				<h1><a href="/" class="btn btn-default">Sair</a></h1>
			</div>
		</div> 				
		
		<div class="col-md-12">&nbsp;</div>		
				
		<form action="/naoconformidade" method="post">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group">
						<label for="data">Data(aaaa-mm-dd HH:mm:ss Ex: 2016-06-17 04:04:04)</label> 
						<input type="date" class="form-control" id="data" name="data" value="<%= naoconformidade.data%>">
					</div>
				</div>
			</div>
	
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="form-group">
						<label for="descricao">Tipo de Ocorrência</label> 
						<select id="descricao" name="descricao" class="form-control">
							<option>Falta de uso do capacete de seguranca</option>
							<option>Falta de uso de colete</option>
							<option>Sem luvas de seguranca</option>
							<option>Sem botas</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">				
					<div class="form-actions" style="float: right;">
						<input type="submit" value ="Gravar" class="btn btn-default"/>
					</div>
				</div>
			</div>
		</form>
		
		<script type="text/javascript">
			(function() {
				var agora = new Date();
				
				document.getElementById('data').value = 
					agora.getFullYear() + "-" + ajustarValor(agora.getMonth()) + "-" + ajustarValor(agora.getDate()) + " "
						+ ajustarValor(agora.getHours()) + ":" + ajustarValor(agora.getMinutes()) + ":" + ajustarValor(agora.getSeconds());
			})();
			
			function ajustarValor(value){
				var intValue = parseInt(value);
				return intValue < 10 ? "0"+intValue : intValue;
			}
		</script>
	</div>
</body>

</html>